.ctx {
    height:90%;
    width: 40%;
    margin-left:20% ;
    margin-right: 20%;
    align-content: center; 
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
h2{
    margin-bottom: 4%;
    margin-top: 3%;
    text-align: center;
    background-color: rgb(46, 41, 41);
  }
label{
    color: black;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif ;
    font-weight:500;
}
p{
    margin-top:10% ;
    font-size: 22px;
    color: black;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif ;
    font-weight: 700;
}
  
.fm{
    background-color: #d6cfcf;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 80%;
    justify-content: center;
    margin-left: 25%;
  }


  