<app-navbar></app-navbar>
<div class="container">
    <div class="container-2">
        <h1>Why Insurance</h1>
        <p>Life is full of risks. That is what makes it so interesting and exciting. But some unexpected events can really set you back. Insurance helps us protect ourselves and the things we value, such as our homes, our cars and our valuables, from the financial impact of risks, big and small from fire, flood, storm and earthquake, to theft, car accidents, travel mishap and even from the costs of legal action against us. And we can choose the types of risks we wish to cover by choosing the right kind of policy with the features we need.</p>
        <!-- <p>Buying insurance is important as it ensures that you are financially secure to face any type of problem in life, and this is why insurance is a very important part of financial planning. A general insurance company offers insurance policies to secure health, travel, motor vehicle, and home.</p> -->
    </div>
    <div class="container-3">
        <div class="buy">
            <a routerLink="Register">Buy Insurance</a>
        </div>
        <div class="renew">
            <a routerLink="Login">Renew Insurance</a>
        </div>
        <div class="claim">
            <a routerLink="Login">Claim Insurance</a>
        </div>
        <div class="calc">
            <a routerLink="premium">Estimate Insurance Calculation</a>
        </div>
    </div>
</div>
